@@ -50,3 +50,23 @@ footer {
    background-color: black;
    color: white;
}

/* ----------------- GALERÍA ----------------- */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 10px;
}

.galeria img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s;
}

.galeria img:hover {
    transform: scale(1.05);
}